 <!--


      BUTTONS


    -->

    <div class="layout u-bb u-mb" id="buttons">

      <div class="layout__item one_whole">

        <h1>Buttons</h1>
        <p>General button styles</p>

      </div>

      <div class="layout__item one-half u-mb bg-image--dark-blue u-pl u-pr u-pt">

        <p class="button">.button</p>
        <p class="button button--svg">.button .button--svg  <svg><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
        </svg></p>
        <p class="button--white button--svg">.button--white .button--svg  <svg><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
        </svg></p>
        <p class="button--primary">.button-primary</p>
        <p class="button--negative-ghost">.button--negative-ghost</p>
        <p class="button--white-ghost">.button--white-ghost</p>
        <p class="button--white">.button--white</p>
        <p class="button--ghost">.button--ghost</p>
        <p class="button--white button-white--svg button--svg-right">.button--white .button-white--svg button--svg-right<svg>  <use xlink:href="img/svg-defs.svg#shape-down-small" />
        </svg></p>
        <p class="button--white-ghost button--svg-right">.button--white-ghost .button--svg-right<svg>  <use xlink:href="img/svg-defs.svg#shape-plus-small" />
</svg></p>
        <p class="button--white button-white--svg"><svg>  <use xlink:href="img/svg-defs.svg#shape-down-small" />
        </svg>.button--white .button-white--svg</p>


      </div><!--

      --><div class="layout__item one-half u-mb">

        <p class="button">.button</p>
        <p class="button--primary">.button-primary</p>
        <p class="button--highlight-ghost">.button--highlight-ghost</p>
        <p class="button--negative-ghost">.button--negative-ghost</p>
        <p class="button button--small">.button .button--small</p>
        <p class="button button--tiny">.button .button--tiny</p>
        <p class="button--ghost">.button--ghost</p>
        <p class="button--primary button--svg-right">.button--primary .button--svg-right<svg>  <use xlink:href="img/svg-defs.svg#shape-down-small" />
        </svg></p>
        <p class="button button--svg-right">.button .button--svg-right<svg>  <use xlink:href="img/svg-defs.svg#shape-down-small" />
        </svg></p>
        <p class="button button--svg"><svg>  <use xlink:href="img/svg-defs.svg#shape-down-small" />
        </svg>.button .button--svg</p>


      </div><!--

      --><div class="layout__item u-mb">

        <h2>This is the .controls div</h2>
        <p>It is all managed in the _controls.scss. All button styles are kept but in some cases overwritten in terms of size and svg position etc</p>
        <p>This one is inside a one-quarter container</p>

          <div class="controls lap-and-up-one-quarter">

            <a class="button button--svg">
              <svg>
                <use xlink:href="img/svg-defs.svg#shape-add-member-small" />
                  </svg>
              Example

                </a>
                <a class="button button--svg">
              <svg>
                <use xlink:href="img/svg-defs.svg#shape-new-form-small" />
                  </svg>
              Example two

                </a>
                <a class="button button--svg">
              <svg>
                <use xlink:href="img/svg-defs.svg#shape-document-small" />
                  </svg>
              Example three and

                </a>
                <a class="button button--svg">
              <svg>
                <use xlink:href="img/svg-defs.svg#shape-down-small" />
                  </svg>
              F example longer

                </a>
                <a class="button button--svg">
              <svg>
                <use xlink:href="img/svg-defs.svg#shape-down-small" />
                  </svg>
              Tiny

                </a>

          </div>

      </div><!--

      --><div class="layout__item u-mb">

        <p>This one is inside a one-half container</p>

          <div class="controls lap-and-up-one-half">


            <a class="button button--svg">
              <svg>
                <use xlink:href="img/svg-defs.svg#shape-add-member-small" />
                  </svg>
              Example

                </a>
                <a class="button button--svg">
              <svg>
                <use xlink:href="img/svg-defs.svg#shape-new-form-small" />
                  </svg>
              Example two

                </a>
                <a class="button button--svg">
              <svg>
                <use xlink:href="img/svg-defs.svg#shape-document-small" />
                  </svg>
              Example three and

                </a>
                <a class="button button--svg">
              <svg>
                <use xlink:href="img/svg-defs.svg#shape-down-small" />
                  </svg>
              F example longer

                </a>
                <a class="button button--svg">
              <svg>
                <use xlink:href="img/svg-defs.svg#shape-down-small" />
                  </svg>
              Tiny

                </a>
          </div>

      </div>



    </div>
