
    <!--


      Cards


    -->

    <div class="layout u-bb u-mb" id="cards">

      <div class="layout__item">

        <h1>Cards</h1>
        <p>This is the used as a info boxes but in some cases there are buttons for action</p>
        <p>.card and .card--light and .card--edit are the options</p>
        <p>There is a .card__image div also where you can assign a background image that will resize for certain uses.</p>

      </div>

      <div class="layout__item u-mb bg-image--grey u-pl u-pr u-pt u-pb">




        <a href="#" class="card">
            <div class="card__image" style="background-image: url('http://www.placehold.it/100x400');">
            </div>

          <div class="card__info">
                <p class="gamma u-mb0 highlight">Members</p>
                <p class="highlight--black">26</p>
              </div>
        </a>

        <a href="#" class="card">
            <div class="card__image" style="background-image: url('http://www.placehold.it/500x300');">
            </div>

             <div class="card__info">
                <p class="gamma u-mb0 highlight">Members</p>
                <p class="highlight--black">26</p>
              </div>
        </a>

        <a href="#" class="card">
            <div class="card__image" style="background-image: url('http://www.placehold.it/200x300')">
            </div>

              <div class="card__info">
                <p class="gamma u-mb0 highlight">Members</p>
                <p class="highlight--black">26</p>
              </div>
        </a>


        <a href="#" class="card">
          <svg>
                  <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
              </svg>
              <div class="card__info">
                <p class="gamma u-mb0 highlight">Members</p>
                <p class="highlight--black">26</p>
              </div>
        </a>

        <a href="#" class="card">
          <svg>
                  <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
              </svg>
              <div class="card__info">
                <p class="gamma u-mb0 highlight">Members</p>
                <p class="highlight--black">26</p>
              </div>
        </a>

        <a href="#" class="card">
          <svg>
                  <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
              </svg>
              <div class="card__info">
                <p class="gamma u-mb0 highlight">Members</p>
                <p class="highlight--black">26</p>
              </div>
        </a>

        <a href="#" class="card--light">
          <svg>
                  <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
              </svg>
              <div class="card__info">
                <p class="gamma u-mb0 highlight">Members</p>
                <p class="highlight--black">26</p>
              </div>
        </a>

        <a href="#" class="card card--min-height">
          <svg>
                  <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
              </svg>
              <div class="card__info">
                <p class="gamma u-mb0 highlight">Members</p>
                <p class="highlight--black">.card .card--min-height</p>
              </div>
        </a>

        <a href="#" class="card card--min-height">
          <svg>
                  <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
              </svg>
              <div class="card__info">
                <p class="gamma u-mb0 highlight">Members</p>
                <p class="highlight--black">.card .card--min-height</p>
              </div>
        </a>

        <div class="card--edit">
          <svg>
                  <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
              </svg>
              <div class="card__info">
                <p class="gamma u-mb0 highlight">Members</p>
                <p>261<br />
                25/04/15 | 19:46:43</p>
                <a class="button aligncenter">Edit</a>
              </div>
        </div>

        <div class="card--edit card--light">
          <svg>
                  <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
              </svg>
              <div class="card__info">
                <p class="gamma u-mb0 highlight">Members</p>
                <p>261<br />
                25/04/15 | 19:46:43</p>
                <a class="button aligncenter">Edit</a>
              </div>
        </div>

        <a href="#" class="card card--plus card--min-height">
            <svg>
                <use xlink:href="img/svg-defs.svg#shape-plus-small" />
            </svg>

        </a>

      </div>

  </div>
