$header-background: white;
$header-color: $base-color;


header {
	background: $header-background;
	float: left;
	width: 100%;
	padding: $spacing-unit 0;
	color: $header-color;



	@include bp(full-nav) {

		min-height: 227px;

		img {
		margin-bottom: 40px;
		}
		margin-bottom: 22px;
	}

	@include bp(portable) {

		min-height: 288px;

		img {
		margin-bottom: 43px;
	}

	}




}
