$header-background: white;
$header-color: $base-color;


header {
	background: $header-background;
	float: left;
	width: 100%;
	padding: $spacing-unit 0;
	color: $header-color;
	
	@include bp(full-nav) {
		padding-bottom: 100px;
	}
}

