////////////////////

// with SVG 

////////////////////


.site-title-svg {
	position: relative;
	font-size: 0;
	float: left;
	line-height: 1;
	@include vendor(transition, 0.3s);
	width: 219px;


	&:hover {
		opacity: 0.6 !important;

	}

	svg, a {
		display: block;
		
	}

	@include bp(full-nav) {
		width: 400px;
		margin: 0 auto;
		float: none;
		
	}
	
	@include bp(portable) {
		width: 560px;
		
	}

}


////////////////////

// just text

////////////////////

/*
.site-title {
	font-weight: 200 !important;
	@include font-size(26px, 1.2);
	text-align: center;

	a {
		color: white;

		@include attention {
			color: $base-color--mute;
		}
	}

	@include bp(small-lap) {
		float: left;
		@include font-size(32px, 1);
	}
}

*/
