<header id="top" role="banner" class="clearfix bg-image gradient" style="background-image: url('/img/banner.jpg');">

    <div class="wrapper">

        <h1 class="site-title-svg u-pt-">

          <a class="link-secret" href="/" title="" rel="home">

            Zeevo

            <svg>
              <use xlink:href="img/svg-defs.svg#shape-branding" />
            </svg>

          </a>

        </h1>

        <hr class="u-mt fw" />

        <h4 class="svg-right"><a href="ffdsa">Custom Development<svg class="svg--white-arrow"><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
        </svg> </a></h4>
        <h4 class="svg-right">Web Applications<svg class="svg--white-arrow"><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
        </svg> </h4>
        <h4 class="svg-right">App Development<svg class="svg--white-arrow"><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
        </svg> </h4>
        <h4 class="svg-right">IT Integration<svg class="svg--white-arrow"><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
        </svg> </h4>
        <h4 class="svg-right">Prototyping<svg class="svg--white-arrow"><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
        </svg> </h4>
        <h4 class="svg-right">Scoping<svg class="svg--white-arrow"><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
        </svg> </h4>

        <h1 class="huge">Leading experts <br>in <span id="typed" style="white-space:pre;" class="highlight"></span></h1>



    </div>

</header>
