<header id="top" role="banner" class="clearfix">

    <div class="wrapper">

        <h1 class="site-title-svg u-mb0">

          <a class="link-secret" href="/" title="" rel="home">

            Zeevo

            <img src="/img/yunkle-logo-compressor.jpg" />

          </a>

        </h1>

    </div>

</header>

<div class="flexslider">
    <ul class="slides">
        <li><img src="/img/banner.jpg" /></li>
        <li><img src="/img/banner.jpg" /></li>
        <li><img src="/img/banner.jpg" /></li>
        <li><img src="/img/banner.jpg" /></li>
    </ul>
</div>
