<header id="top" role="banner" class="clearfix u-pb+">

    <div class="wrapper">

        <h1 class="site-title-svg u-pt-">

          <a class="link-secret" href="/" title="" rel="home">

            Zeevo

            <svg>
              <use xlink:href="img/svg-defs.svg#shape-branding" />
            </svg>

          </a>

        </h1>

    </div>

</header>

<div class="flexslider">
    <ul class="slides">
        <li><img src="/img/banner.jpg" /></li>
        <li><img src="/img/banner.jpg" /></li>
        <li><img src="/img/banner.jpg" /></li>
        <li><img src="/img/banner.jpg" /></li>
    </ul>
</div>
