h1,
.alpha,
%alpha {
    @include font-size($heading-size-1);
    font-weight: $bold;
}

h2,
.beta,
%beta {
    @include font-size($heading-size-2);
    font-weight: $bold;

}

h3,
.gamma,
%gamma {
    @include font-size($heading-size-3);
    font-weight: $bold;

}

h4,
.delta,
%delta {
    @include font-size($heading-size-4);
    font-weight: $bold;

}

h5,
.epsilon,
%epsilon {
    @include font-size($heading-size-5);
    font-weight: $bold;


}

h6,
.zeta,
%zeta {
    @include font-size($heading-size-6);
    font-weight: $bold;

}

