/*------------------------------------*\
    #IMAGES
\*------------------------------------*/

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
    max-width: 100%; /* [1] */
    font-style: italic; /* [2] */
    vertical-align: middle; /* [3] */
    height: auto;
}

.img--inline-svg {
	display: inline;
	width: 25px;
	height: 30px;
}

	.img--inline-svg--medium {
		display: inline;
		width: 41px;
		height: 50px;
	}

	.img--inline-svg--large {
		display: inline;
		width: 100px;
		height: 20px;
	}

    .img--inline-svg--super {
		display: inline;
		width: 100px;
		height: 116px;
	}

	.img--svg-highlight {
		fill: $highlight;
	}

    .down-svg svg {
        @include vendor(transform, rotate(90deg));
    }

    footer svg, .contact-section svg {
		width: 20px;
		height: 20px;
		fill: transparent;
		stroke: #9865AB;
    	stroke-width: 2px;
    	stroke-linecap: round;

		&.social {
			fill: $highlight;
			stroke: transparent;
	    	stroke-width: 2px;
	    	stroke-linecap: round;
		}
	}



/* placeholders */

.placeholder-container {

    position: relative;

    .placeholder-container__placeholder {
        position: relative;
        z-index: 1;
    }

    .placeholder-container__image {
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        z-index: 2;
    }
}

    .placeholder-container--large {
        height: 221px;
        width: 221px;
        background: white;

    }
