/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
    text-decoration: none;
    color: $content-color-links;
    @include vendor(transition, 0.2s, all);

    @include attention() {
        text-decoration: none;
        color: $color-links--attention;
    }

}

.link-secret {
    color: inherit;
    
    @include attention() {
        color: $color-links-secret--attention;
    }
}