b, strong {
	font-weight: $heavy;
}

.highlight {
	color: $highlight !important;
	fill: $highlight !important;
}

.grey {
	color: $light-grey !important;
	fill: $light-grey !important;
}

.small {
	@include font-size(12px);
	line-height: 1.4;
}

.subtitle {
	opacity: 0.5;
}

.text-truncate {
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.svg-right {
	position: relative;

	svg {
		width: 6px;
	    height: 16px;
	    fill: transparent;
	    right: 8px;
	    stroke-width: 2px;
	    stroke-linecap: round;
	    display: inline-block;
	    vertical-align: text-top;
	    margin-left: 10px;
	}
}

	.svg--white-arrow {
		fill: transparent;
		stroke: white;
	}


.box-text {
	color: white;
    background-color: $highlight;
    display: inline-block;
    padding: 10px;
	position: absolute;
	z-index: 999;
	position:absolute;
	bottom: $spacing-unit;
	left: $spacing-unit;
}
