b, strong {
	font-weight: $bold;
}

.highlight {
	color: $highlight !important;
	fill: $highlight !important;
}

.grey {
	color: $light-grey !important;
	fill: $light-grey !important;
}

.small {
	@include font-size(12px);
	line-height: 1.4;
}

.subtitle {
	opacity: 0.5;
}

.text-truncate {
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
