
    <!--


      Javascript


    -->

    <div class="layout u-bb u-mb u-pb" id="javascript">

      <div class="layout__item">

        <h1>Javascript</h1>
        <p>The site uses <strong>jQuery</strong> and is currently 1.11.3 from google</p>
        <p>A custom version of <strong>modernizr</strong> which outputs some text into the html tag</p>
        <p>SVG for everybody svg4everybody.min.js (not used but ready to go )</p>
        <h3>The following plugins</h3>
        <p>Chosen: Chosen v1.4.2 https://github.com/harvesthq/chosen<br />
        Picker: pickadate.js v3.5.6 http://amsul.github.io/pickadate.js (this is 3 scripts, master - time - date)<br />
        TagingJS: 1.3.3 https://github.com/sniperwolf/taggingJS
        </p>

        <p>You can find each script inside /js/scripts and they are concatonated into the top of script.miny.js</p>

        <h3>Plugin CSS</h3>
        <p>Chosen, Picker and TagingJS each have a CSS file chosen.scss, picker.css, picker.date.css, picker.time.css, tag-basic-style.css which are all in ui/components</p>

      </div>

    </div>