
    <!--


      Icon Grid Menu


    -->

    <div class="layout u-bb u-mb" id="icon-grid">

      <div class="layout__item">

        <h1>Icon Grid Menu</h1>
        <p>This is the dropdown menu for the main nav</p>
        <p>.icon-grid<br />
        --- .icon-grid__item (.icon-grid__item--active)
        </p>
        <p>There is an icon grid used in the main menu at the top of site, some specific styling is applied to this in _mobile-nav.scss maybe move it out?</p>

      </div>

      <div class="u-mb bg-image--dark-blue u-pl u-pr u-pt+ u-pb layout">

        <div class="layout__item one-quarter">

          <h3 class="beta light-heading">My FormTab</h3>
          <p>Logged in as:<br />
          mark@marksmith.com</p>

        </div><!--

        --><div class="layout__item three-quarters icon-grid">

          <a href="" class="icon-grid__item">

            <svg>
                    <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
                </svg>
                <p>hjfd hjlfd hjl</p>

          </a>

          <div class="icon-grid__item">
            <a href="">
            <svg>
                    <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
                </svg>
                <p>hjfd hjlfd hjl</p>
                </a>
          </div>

          <div class="icon-grid__item">
            <a href="">
            <svg>
                    <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
                </svg>
                <p>hjfd hjlfd hjl</p>
                </a>
          </div>

          <div class="icon-grid__item">
            <a href="">
            <svg>
                    <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
                </svg>
                <p>hjfd hjlfd hjl</p>
                </a>
          </div>

          <div class="icon-grid__item">
            <a href="">
            <svg>
                    <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
                </svg>
                <p>hjfd hjlfd hjl</p>
                </a>
          </div>

          <div class="icon-grid__item">
            <a href="">
            <svg>
                    <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
                </svg>
                <p>hjfd hjlfd hjl</p>
                </a>
          </div>

          <div class="icon-grid__item">
            <a href="">
            <svg>
                    <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
                </svg>
                <p>hjfd hjlfd hjl</p>
                </a>
          </div>

          <div class="icon-grid__item">
            <a href="">
            <svg>
                    <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
                </svg>
                <p>hjfd hjlfd hjl</p>
                </a>
          </div>

          <div class="icon-grid__item">
            <a href="">
            <svg>
                    <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
                </svg>
                <p>hjfd hjlfd hjl</p>
                </a>
          </div>

          <div class="icon-grid__item icon-grid__item--active">
            <a href="">
            <svg>
                    <use xlink:href="img/svg-defs.svg#shape-2-cogs-medium" />
                </svg>
                <p>hjfd hjlfd hjl</p>
                </a>
          </div>

        </div>

      </div>

    </div>
