
    <!--


      Images


    -->

    <div class="layout u-bb u-mb" id="images">

      <div class="layout__item">

        <h1>Images</h1>
        <p>Documentation to come</p>

    </div>

      <div class="layout__item u-mb u-pl u-pr u-pt u-pb">

          <div class="placeholder-container one-quarter">

              <img class="placeholder-container__placeholder" src="http://placehold.it/500x500" />

              <img class="placeholder-container__image" src="http://placekitten.com/g/500/500" />

          </div>



      </div>

    </div>
