

      <!--


        HEADINGS


      -->
  

    <div class="layout u-bb u-mb" id="headings">

   

      <div class="layout__item u-pt">
      <!--<pre><code class="language-css"><?php include('assets/css/ui/base/_headings.scss'); ?> </code></pre>-->

        <h1>Headings</h1>
        <p>These are the available headings with their variation</p>
        <p>Things to note: the sight uses fast fonts proxima nova, thin, light, regular and bold</p>
        <p>Here are the variables - $font-thin:'Proxima N W01 Thin Reg'; $font-light: 'Proxima N W01 Light'; $font-regular: 'Proxima N W01 Reg'; $font-bold: 'Proxima N W01 Bold';</p>
        <p>Wicked classes are (size)--heading makes it bold, .light-heading makes it light, .highlight gives it a highlight</p>

      </div>

      <div class="layout__item one-half u-mb">

        <h1>Simple H1</h1>
        <p class="alpha">.alpha</p>
        <p class="alpha alpha--heading">.alpha--heading</p>
        <p class="alpha alpha--heading highlight">.alpha--heading .highlight</p>


      </div><!--

      --><div class="layout__item one-half u-mb">

        <h2>Simple H2</h2>
        <p class="beta">.beta</p>
        <p class="beta beta--heading highlight">.beta--heading .highlight</p>

        <h2 class="light-heading">This is an H2 with .light-heading</h2>

      </div><!--

      --><div class="layout__item one-half u-mb">

        <h3>Simple H3</h3>
        <p class="gamma">.gamma</p>
        <p class="gamma gamma--heading highlight">.gamma--heading .highlight</p>

      </div><!--

      --><div class="layout__item one-half u-mb">

        <h4>Simple H4</h4>
        <p class="eplison">.eplison</p>
        <p class="eplison eplison--heading">.eplison--heading</p>
        <p class="eplison eplison--heading highlight">.eplison--heading .highlight</p>

      </div>

    </div>