
    <!--


      List that looks like table


    -->

    <div class="layout u-bb u-mb u-pb">

      <div class="layout__item">

        <h1>List of Stuff</h1>
        <p>The markup is in full but obviously worth checking out a template as each list item is in a foreach loop</p>

        <p>There is also the option to add .stack-list__row-title--tiny which makes the titles of cols tiny if there are heaps etc.</p>

      </div>

     <ul class="stack-list u-m0 u-pb">
          
    <li class="u-bb">
      <ul class="stack-list__row stack-list__row-title">

        <li class="one-tenth list-hide-me">&nbsp;</li><!--
        --><li class="one-fifth DESC"><a href="/communities/community-templates?o=modified_timestamp&amp;d=1">Modified Date</a></li><!--
        
        --><li class="one-fifth two-hands-three-tenths "><a href="/communities/community-templates?o=template_name&amp;d=1">Name</a></li><!--
        --><li class="one-fifth two-hands-one-fifth "><a href="/communities/community-templates?o=template_description&amp;d=1">Description</a></li><!--
        --><li class="one-fifth two-hands-one-tenth">Version</li><!--
        --><li class="one-fifth two-hands-one-tenth "><a href="/communities/community-templates?o=status&amp;d=1">Status</a></li>
        
      </ul>
    </li>

    
    
      
      <li class="zebra--alt">
        
        <a class="stack-list__row-link" href="/communities/form-details/eqfdi358lRFnOQ2PGPXmuCY1RxLyLrTDVWcRvOBYMZhm0MkIXqGCW5WC0bT6jTsIfoRf4IIdYMsEuxona2fq4h2hWscglN375PWx">
        
        <ul class="stack-list__row">
            
          <li class="one-tenth list-hide-me "><img src="http://www.placehold.it/112x32" class="restrict-thumb"></li><!--
        --><li class="one-fifth">13/08/2013 9:02:40am</li><!--
        --><li class="one-fifth two-hands-three-tenths">CTO - Excavator Assessment</li><!--
        --><li class="one-fifth two-hands-one-fifth">Version 3</li><!--
        --><li class="one-fifth two-hands-one-tenth">1.0</li><!--
        --><li class="one-fifth two-hands-one-tenth">Pending</li>
          <svg class="stack-list__trigger">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/img/svg-defs.svg#shape-right-small"></use>
            </svg>
        
        </ul>

        </a>
      
      </li>
    
    
      
      <li class="zebra">
        
        <a class="stack-list__row-link" href="/communities/form-details/IoaaBJpPHWr71P1pF3e9PrRER8v8KXRWMr9eO0m4oTaewhgbrZIR1RM9muJGSS2rTpw9dQjOgHO4UyMw0pI9cDe2U5zT28Ss4iL4">
        
        <ul class="stack-list__row">
            
          <li class="one-tenth list-hide-me "><img src="http://www.placehold.it/112x32" class="restrict-thumb"></li><!--
        --><li class="one-fifth">06/03/2015 4:40:28pm</li><!--
        --><li class="one-fifth two-hands-three-tenths">HTML Chars</li><!--
        --><li class="one-fifth two-hands-one-fifth"></li><!--
        --><li class="one-fifth two-hands-one-tenth">0.1</li><!--
        --><li class="one-fifth two-hands-one-tenth">Published</li>
          <svg class="stack-list__trigger">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/img/svg-defs.svg#shape-right-small"></use>
            </svg>
        
        </ul>

        </a>
      
      </li>
    
    
      
      <li class="zebra--alt">
        
        <a class="stack-list__row-link" href="/communities/form-details/DuWzgLpAUGgZ8YhlEi9Tw7I5fAczwx0SGt3PSk1GLfPqcXiCQQBaohmhjE5dIV9WkfnRD3lCt4dJGF03ylNCr7MDfu4QiAs2E3nX">
        
        <ul class="stack-list__row">
            
          <li class="one-tenth list-hide-me "><img src="http://www.placehold.it/112x32" class="restrict-thumb"></li><!--
        --><li class="one-fifth">26/02/2015 2:18:53pm</li><!--
        --><li class="one-fifth two-hands-three-tenths">Formats</li><!--
        --><li class="one-fifth two-hands-one-fifth"></li><!--
        --><li class="one-fifth two-hands-one-tenth">0.1</li><!--
        --><li class="one-fifth two-hands-one-tenth">Published</li>
          <svg class="stack-list__trigger">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/img/svg-defs.svg#shape-right-small"></use>
            </svg>
        
        </ul>

        </a>
      
      </li>
    
    
      
      <li class="zebra">
        
        <a class="stack-list__row-link" href="/communities/form-details/3fbYXm8jTqjRju6Fyh6H53UROKPSf7AG3P9Vs7qGoC5FdwDoMzlyMCPYY4SNZzKJu4DHSmgHvq4s0PXBR9zRWVV27HGxXTUyzXk5">
        
        <ul class="stack-list__row">
            
          <li class="one-tenth list-hide-me "><img src="/view/attachment-thumb/F116BC05-9968-4B82-B1ED-EA022A0DE333.jpg" class="restrict-thumb"></li><!--
        --><li class="one-fifth">06/03/2015 3:33:50pm</li><!--
        --><li class="one-fifth two-hands-three-tenths">CTO - Wheeled Paver Assessment</li><!--
        --><li class="one-fifth two-hands-one-fifth">Version 5</li><!--
        --><li class="one-fifth two-hands-one-tenth">1.0</li><!--
        --><li class="one-fifth two-hands-one-tenth">Pending</li>
          <svg class="stack-list__trigger">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/img/svg-defs.svg#shape-right-small"></use>
            </svg>
        
        </ul>

        </a>
      
      </li>
    
    
      
      <li class="zebra--alt">
        
        <a class="stack-list__row-link" href="/communities/form-details/fwMmswUIG2PtNaU6HR1VC7VPWGt5aRFLGTkZigKHsfxrK8IjDp7OrfPftwZRlQuvorhDLqi7PgK2K8zr3b41n2RYxM0rrakT3jZg">
        
        <ul class="stack-list__row">
            
          <li class="one-tenth list-hide-me "><img src="/view/attachment-thumb/F116BC05-9968-4B82-B1ED-EA022A0DE333.jpg" class="restrict-thumb"></li><!--
        --><li class="one-fifth">16/12/2014 2:11:10pm</li><!--
        --><li class="one-fifth two-hands-three-tenths">CTO - Skid Steer Loader Assessment</li><!--
        --><li class="one-fifth two-hands-one-fifth">Version 5</li><!--
        --><li class="one-fifth two-hands-one-tenth">1.0</li><!--
        --><li class="one-fifth two-hands-one-tenth">Pending</li>
          <svg class="stack-list__trigger">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/img/svg-defs.svg#shape-right-small"></use>
            </svg>
        
        </ul>

        </a>
      
      </li>
    
    
      
      <li class="zebra">
        
        <a class="stack-list__row-link" href="/communities/form-details/pLbKYAXXYp4wpKeNMLkzht5h6cAaECW2yR7osdoOTeWtB3uklBbApa5wKwb9iTb2otfdNTqcrUB4UrN9GZfDlTvN1tyoLIYhvGvY">
        
        <ul class="stack-list__row">
            
          <li class="one-tenth list-hide-me "><img src="/view/attachment-thumb/F116BC05-9968-4B82-B1ED-EA022A0DE333.jpg" class="restrict-thumb"></li><!--
        --><li class="one-fifth">10/08/2013 10:51:12pm</li><!--
        --><li class="one-fifth two-hands-three-tenths">Bitumen Sprayer Operator</li><!--
        --><li class="one-fifth two-hands-one-fifth">Version 1</li><!--
        --><li class="one-fifth two-hands-one-tenth">1.0</li><!--
        --><li class="one-fifth two-hands-one-tenth">Pending</li>
          <svg class="stack-list__trigger">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/img/svg-defs.svg#shape-right-small"></use>
            </svg>
        
        </ul>

        </a>
      
      </li>
    
    
      
      <li class="zebra--alt">
        
        <a class="stack-list__row-link" href="/communities/form-details/ftqascRwseAJ07UhjKCzczqETtd6o4OWVO4SmJbs8XLIBhFRJ00nLHZGGL9L2cLJY9RtRTNtqyNTJxC1ttd17J0pFSaZhmZHgY6v">
        
        <ul class="stack-list__row">
            
          <li class="one-tenth list-hide-me "><img src="/view/attachment-thumb/F116BC05-9968-4B82-B1ED-EA022A0DE333.jpg" class="restrict-thumb"></li><!--
        --><li class="one-fifth">06/03/2015 4:00:19pm</li><!--
        --><li class="one-fifth two-hands-three-tenths">CTO - Rigid Dump Truck Assessment</li><!--
        --><li class="one-fifth two-hands-one-fifth">Version 3</li><!--
        --><li class="one-fifth two-hands-one-tenth">1.0</li><!--
        --><li class="one-fifth two-hands-one-tenth">Published</li>
          <svg class="stack-list__trigger">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/img/svg-defs.svg#shape-right-small"></use>
            </svg>
        
        </ul>

        </a>
      
      </li>
    
    
      
      <li class="zebra">
        
        <a class="stack-list__row-link" href="/communities/form-details/KIKF2FMqYwDo0J9XCLqQhHgwpHUou4tbs6cSOGUFLeByfbILRp7gS8fulofsweyd4sJFTEZFifyKSgj9bXEKC5DUbiL2wLWtqXPH">
        
        <ul class="stack-list__row">
            
          <li class="one-tenth list-hide-me "><img src="/view/attachment-thumb/F116BC05-9968-4B82-B1ED-EA022A0DE333.jpg" class="restrict-thumb"></li><!--
        --><li class="one-fifth">26/08/2013 11:58:19am</li><!--
        --><li class="one-fifth two-hands-three-tenths">CTO - Articulated Dump Truck Assessment</li><!--
        --><li class="one-fifth two-hands-one-fifth">Version 5</li><!--
        --><li class="one-fifth two-hands-one-tenth">1.0</li><!--
        --><li class="one-fifth two-hands-one-tenth">Pending</li>
          <svg class="stack-list__trigger">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/img/svg-defs.svg#shape-right-small"></use>
            </svg>
        
        </ul>

        </a>
      
      </li>
    
    
      
      <li class="zebra--alt">
        
        <a class="stack-list__row-link" href="/communities/form-details/iBWr6vA6WWourRaMQXum1q8gCAqi1o0QGpGbJyTOdYMZJDuvpbt745OG79GNErojSvH6n6POMzyC9q57SSsa1FN8u0U6KZ6INeUi">
        
        <ul class="stack-list__row">
            
          <li class="one-tenth list-hide-me "><img src="/view/attachment-thumb/F116BC05-9968-4B82-B1ED-EA022A0DE333.jpg" class="restrict-thumb"></li><!--
        --><li class="one-fifth">22/08/2013 11:57:24am</li><!--
        --><li class="one-fifth two-hands-three-tenths">CTO - Articulated Dump Truck Assessment</li><!--
        --><li class="one-fifth two-hands-one-fifth">Version 4</li><!--
        --><li class="one-fifth two-hands-one-tenth">1.0</li><!--
        --><li class="one-fifth two-hands-one-tenth">Pending</li>
          <svg class="stack-list__trigger">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/img/svg-defs.svg#shape-right-small"></use>
            </svg>
        
        </ul>

        </a>
      
      </li>
    
    
      
      <li class="zebra">
        
        <a class="stack-list__row-link" href="/communities/form-details/GtylBNiTdgruPycIjc0On6CCWQP4oSJoTuSwKG3fF223q6j7Ljsf0wKLCyryO3hedI5tm9FpdMPvjjyA4qkn8DMyyxxcHPVJo9TZ">
        
        <ul class="stack-list__row">
            
          <li class="one-tenth list-hide-me "><img src="/view/attachment-thumb/F116BC05-9968-4B82-B1ED-EA022A0DE333.jpg" class="restrict-thumb"></li><!--
        --><li class="one-fifth">26/08/2013 11:59:19am</li><!--
        --><li class="one-fifth two-hands-three-tenths">CTO - Chip Spreader Assessment</li><!--
        --><li class="one-fifth two-hands-one-fifth">Version 5</li><!--
        --><li class="one-fifth two-hands-one-tenth">1.0</li><!--
        --><li class="one-fifth two-hands-one-tenth">Published</li>
          <svg class="stack-list__trigger">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/img/svg-defs.svg#shape-right-small"></use>
            </svg>
        
        </ul>

        </a>
      
      </li>
    
      
  </ul>

    </div>