 <!--


      GENERAL TEXT


    -->

    <div class="layout u-bb u-mb u-mt+" id="general-text">

      <div class="layout__item one-whole">

        <h1>General text</h1>
        <p>General type styles available plus list classes</p>

      </div>

      <div class="layout__item one-half u-mb">

        <p>Normal paragraph Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

        <p class="highlight">The highlight color applied Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum.</p>

      </div>

      <div class="layout__item one-half u-mb">

        <p class="small">.small text applied Maecenas sed diam eget risus v</p>
        <p class="small"><strong>.small text applied Maecenas sed diam eget risus v</strong></p>
        <p><strong>this text has the strong tag applied</strong></p>
        <p><em>this text has the em tag applied (at this stage an italic font has not been added from fonts.com bad boy!</em></p>
        <p><em><strong>bad boy!</strong></em></p>
        <p class="subtitle">This is useful if you want a lighter look .subtitle</p>


      </div>

      <div class="layout__item one-half u-mb">

        <p>normal lists</p>
        <ul>
        <li>fhjkl hfjdlah</li>
        <li><a href="#">fhjkl hfjdlah</a></li>
        <li>fhjkl hfjdlah</li>
        </ul>

        <ol>
        <li>fhjkl hfjdlah</li>
        <li><a href="#">fhjkl hfjdlah</a></li>
        <li>fhjkl hfjdlah</li>
        </ol>

      </div>

      <div class="layout__item one-half u-mb">

        <p>normal lists</p>
        <ul class="block-list u-mb">
        <li>.block-list</li>
        <li><a href="#">applied to the parent ul or ol</a></li>
        <li>fhjkl hfjdlah</li>
        </ul>

        <ol class="inline-list">
        <li>.inline-list</li>
        <li><a href="#">applied to the parent ul or ol</a></li>
        <li>fhjkl hfjdlah</li>
        </ol>

        <ol class="stack-list">
        <li><a href="6">.stack-list</a></li>
        <li><a href="#">applied to the parent ul or ol</a></li>
        <li><a href="#">applied to the parent ul or ol</a></li>
        <li><a href="#">applied to the parent ul or ol</a></li>
        <li><a href="#">applied to the parent ul or ol</a></li>
        </ol>

      </div>

    </div>
