<nav id="nav" role="navigation" class="nav">

    <ul id="main-menu" class="primary-menu u-ml0"><li id="menu-item-254" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-238 active menu-item-254"><a href="http://doc.gluecreative-dev.co.nz/services/">Home</a></li>

        <li id="menu-item-253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-253"><a href="/fancybox.html">Fancybox</a></li>
        <li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252"><a href="/flexslider.html">Flexslider</a></li>
        <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"><a href="/ABflexslider.html">AB Flexslider</a></li>
        <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"><a href="http://doc.gluecreative-dev.co.nz/contact-us/">Support</a></li>

    </ul>

    <p class="button--white button--svg alignright u-mr">Contact Us  <svg><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
</svg></p>

</nav>
