.giant-link-box {
    @include vendor(transition, 0.8s);
    position: relative;
    color: white;

    .giant-link-box__text {
        position: absolute;
        top: 20%;
        text-align: center;
        left:0;
        right: 0;
        z-index: 99;

        hr {
            width: 75px;
            margin: 0 auto $spacing-unit;
            border: solid 1px white;
        }

        @include bp(portable) {
            top: 40%;
        }
    }

}

    .giant-link-box--link {
        &:hover {
            background: $highlight;
            img {
                opacity: 0.4;
            }

            .button--white {

                background-color: white !important;
    			border-color: white !important;
    			color: $highlight;

                svg {
                    stroke: $highlight;

                }

            }
        }

        &:after {
        	position:absolute;
        	top: 0;
        	left: 0;
        	height: 100%;
        	width: 100%;
        	content: "";
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$ellipse-gradiant-outer+0,1e5799+100 */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWU1Nzk5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-radial-gradient(center, ellipse cover,  $ellipse-gradiant-outer 0%, $ellipse-gradiant-inner 100%); /* FF3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$ellipse-gradiant-outer), color-stop(100%,$ellipse-gradiant-inner)); /* Chrome,Safari4+ */
            background: -webkit-radial-gradient(center, ellipse cover,  $ellipse-gradiant-outer 0%,$ellipse-gradiant-inner 100%); /* Chrome10+,Safari5.1+ */
            background: -o-radial-gradient(center, ellipse cover,  $ellipse-gradiant-outer 0%,$ellipse-gradiant-inner 100%); /* Opera 12+ */
            background: -ms-radial-gradient(center, ellipse cover,  $ellipse-gradiant-outer 0%,$ellipse-gradiant-inner 100%); /* IE10+ */
            background: radial-gradient(ellipse at center,  $ellipse-gradiant-outer 0%,$ellipse-gradiant-inner 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$ellipse-gradiant-outer', endColorstr='$ellipse-gradiant-inner',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

        }


    }

    .giant-link-box__text--flat {
        top: 0 !important;
        left: 0  !important;
        height: 100%;
        width: 100%;
        background: $highlight--mute;
        padding: $spacing-unit*2;

        text-align: left  !important;

        a:hover {
            color: white;
        }

        hr {
            margin: 0 0 $spacing-unit !important;
        }

        h4 {
            margin-bottom: $spacing-unit/2;
        }

        @include bp(two-hands) {
            h4 {
                font-size: 24px;
                margin-bottom: $spacing-unit;

                svg {
                    height: 34px;
                }
            }
        }

        @include bp(portable) {
            h4 {
                font-size: 16px;
                margin-bottom: $spacing-unit/2;

                svg {
                    height: 19px;
                }
            }
        }

        @include bp(small-desk) {
            h4 {
                font-size: 20px;
                margin-bottom: $spacing-unit/3;

                svg {
                    height: 34px;
                }
            }
        }

        @include bp(desk) {
            h4 {
                font-size: 24px;
                margin-bottom: $spacing-unit;

                svg {
                    height: 34px;
                }
            }

            h2 {
                margin-top: $spacing-unit;
            }
        }

    }
