<!--


      Messages


    -->

    <div class="layout u-bb u-mb" id="messages">

      <div class="layout__item">

        <h1>Messages</h1>
        <p>Slides in over footer</p>
        <p>.message (.message-positive .message-negative)</p>

      </div>

      <div class="bg-image--dark-blue message">

        <p class="gamma"><svg class="img--inline-svg u-vm u-mr">
                  <use xlink:href="img/svg-defs.svg#shape-grid-small" />
              </svg>Back to the dashboard</p>

      </div>

      <div class="bg-image--dark-blue message message--positive">

        <p class="gamma"><svg class="img--inline-svg u-vm u-mr">
                  <use xlink:href="img/svg-defs.svg#shape-tick-circle-small" />
              </svg>Back to the dashboard</p>

      </div>

      <div class="bg-image--dark-blue message message--negative">

        <p class="gamma"><svg class="img--inline-svg u-vm u-mr">
                  <use xlink:href="img/svg-defs.svg#shape-cancel-circle-small" />
              </svg>Back to the dashboard</p>

      </div>

      <div class="bg-image--dark-blue message">

        <p class="gamma">Give me some options...<a class="button" href="">Yes Please</a><span class="button button--ghost message-close">close me</span></p>

      </div>



    </div>
