<!--


      Menu Module


    -->

    <div class="layout u-bb u-mb u-pb" id="menus">

      <div class="layout__item one_whole">

        <h1>Menu</h1>
        <p>Menu Module</p>
        <p>note that the tips block is now <strong>fixed</strong> to the bottom so not showing in the example menus here but is in the page menu to the left</p>

        <p>.vertical-menu (.vertical-menu--light )<br />
        --- .vertical-menu__title-block<br />
        ----- .vertical-menu__title (.vertical-menu__title--left)<br />
        ---.vertical-menu__menu<br />
        ---.vertical-menu__tips<br /></p> 

      </div>

      <div class="vertical-menu layout__item one-quarter">

        <div class="vertical-menu__title-block">
          <h3 class="vertical-menu__title">
          <svg>
                  <use xlink:href="img/svg-defs.svg#shape-new-form-small" />
              </svg>Title Here</h3>
              <a class="button button--svg-right u-mb0 u-mr0">Create Team<svg>  <use xlink:href="img/svg-defs.svg#shape-down-small" />
        </svg></a>
        </div>
        
        <ul class="vertical-menu__menu">
          <li class="active"><a href="">Justo Porta .active</a></li>
          <li><a href="">Justo Porta</a></li>
          <li><a href="">Justo Porta</a></li>
          <li><a href="">Justo Porta</a></li>
          <li><a href="">Justo Porta</a></li>
        </ul>

        <!--<div class="vertical-menu__tips">
          <p class="aligncenter">New to FormTab?</p>
              <a class="button button--svg-right u-mb0 u-mr0">View Tips<svg>  <use xlink:href="img/svg-defs.svg#shape-down-small" />
              </svg></a>
        </div>-->

      </div><!--


      --><div class="vertical-menu layout__item one-quarter">

        <div class="vertical-menu__title-block clearfix u-bb-light">
          <h3 class="vertical-menu__title vertical-menu__title--left beta">New Submission</h3>
          <svg class="img--inline-svg--medium alignleft u-mr0">
                  <use xlink:href="img/svg-defs.svg#shape-new-form" />
              </svg>
              <a class="button u-mb0 u-ml- u-mt-- alignleft">select a team</a>
        </div>
        
        <div class="u-p">
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </div>
        
        <!--<div class="vertical-menu__tips">
          <p class="aligncenter">New to FormTab?</p>
              <a class="button button--svg-right u-mb0 u-mr0">View Tips<svg>  <use xlink:href="img/svg-defs.svg#shape-down-small" />
              </svg></a>
        </div>-->

      </div><!--

      --><div class="vertical-menu vertical-menu--light layout__item one-quarter">

        <div class="vertical-menu__title-block">
          <img src="http://www.placehold.it/300x300" />
        </div>
        
        <ul class="vertical-menu__menu">
          <li class="active"><a href="">Justo Porta .active</a></li>
          <li><a href="">Justo Porta</a></li>
          <li><a href="">Justo Porta</a></li>
          <li><a href="">Justo Porta</a></li>
          <li><a href="">Justo Porta</a></li>
        </ul>

        <!--<div class="vertical-menu__tips">
          <p class="aligncenter">New to FormTab?</p>
              <a class="button button--svg-right u-mb0 u-mr0">View Tips<svg>  <use xlink:href="img/svg-defs.svg#shape-down-small" />
              </svg></a>
        </div>-->

      </div><!--

      --><div class="vertical-menu layout__item one-quarter">

        <div class="vertical-menu__title-block">
          <h3 class="vertical-menu__title">
          <svg>
                  <use xlink:href="img/svg-defs.svg#shape-plus" />
              </svg>Title Here</h3>
              <a class="button button--svg-right u-mb0 u-mr0">Create Team<svg>  <use xlink:href="img/svg-defs.svg#shape-down-small" />
        </svg></a>
        </div>
        
        <ul class="vertical-menu__menu">
          <li class="active"><a href="">Justo Porta .active</a></li>
          <li><a href="">Justo Porta</a></li>
          <li><a href="">Justo Porta</a></li>
          <li><a href="">Justo Porta</a></li>
          <li><a href="">Justo Porta</a></li>
        </ul>

       <!--<div class="vertical-menu__tips">
          <p class="aligncenter">New to FormTab?</p>
              <a class="button button--svg-right u-mb0 u-mr0">View Tips<svg>  <use xlink:href="img/svg-defs.svg#shape-down-small" />
              </svg></a>
        </div>-->

      </div>
    </div>