	<!--

This is the sidebar menu

-->

<div class="vertical-menu vertical-menu--page" id="vertical-menu--page">

	<a href="#vertical-menu--page" id="hamburger" class="mob-nav-open mob-nav inpage-nav internal-page-link">
	  <span class="slice1"></span>
	  <span class="slice2"></span>
	  <span class="slice3"></span>
	  <p class="screenreader">Open Menu</p>
	</a>

	<div class="vertical-menu__title-block">
	<h2 class="vertical-menu__title">
	<svg>
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/svg-defs.svg#shape-team-small"></use>
	</svg>Teams</h2>

</div>

	<ul class="vertical-menu__menu">

				<li class="justnothinglikepsace"><a href="http://www.placehold.it/112x32">Demo</a></li>
				<li class="active"><a href="/communities/view/cc9a4e731b2d7a86757790734556dfd1">FH Competencies</a></li>
				<li class="justnothinglikepsace"><a href="/communities/view/hIhHu9rTm7S7Xb4wtzAjzSoDsVUsbnmleSDFWj8G">FH Rebuild</a></li>
				<li class="justnothinglikepsace"><a href="/communities/view/9bac9da58130028cc9a5155b0b642457c21d485A">FH Stahlton</a></li>


	</ul>


<p class="aligncenter u-mb0">
<a href="/my-account/add-community" class="button--white-ghost button--svg-right u-mr- u-ml- u-mt">Create Team<svg>  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/svg-defs.svg#shape-plus-small"></use>
</svg></a>
</p>

	<div class="vertical-menu__tips u-pb">
		<p class="aligncenter">New to FormTab?</p>
		<!-- this button opens the full-screen-modal div on the page -->
		<a class="button button--svg-right u-mb0 u-mr0" href="#full-screen-modal" id="view-tips">View Tips<svg>  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/svg-defs.svg#shape-drop-down-small"></use>
	</svg></a>
	</div>

</div><!-- END .vertical-menu -->
