 <!--

    This is the sidebar menu

  -->

  <div class="vertical-menu vertical-menu--page" id="vertical-menu--page">

    <a href="#vertical-menu--page" id="hamburger" class="mob-nav-open mob-nav inpage-nav">
      <span class="slice1"></span>
      <span class="slice2"></span>
      <span class="slice3"></span>
      <p class="screenreader">Open Menu</p>
    </a>



    <div class="vertical-menu__container">

        <div class="vertical-menu__title-block">
          <h2 class="vertical-menu__title">
          <svg>
              <use xlink:href="img/svg-defs.svg#shape-team-small" />
          </svg>Team</h2>


          <p class="vertical-menu-phat-trigger button--white-ghost u-mt">phat trigger</p>

        </div>

        <ul class="vertical-menu__menu">
         <li class="vertical-menu__list-item--has-image u-bb">
          <a href="document-editor/create/269pkBUJoHyiha9n853Ei3lCE1ljSnpdoocSRApJcgOf1jnQ5oCoH6dvkIjTzIxk3OYfxRB0Gppwo9gtMcsf7WowMq8JHEVZF8rx/8YIWs3I5p3XNH8SF4jgw8wr3T0uy9THaLKzQA3iQ" rel="Multiline and warning" class="create-link clearfix phat-link">
            <span class="placeholder-container alignleft"><img class="placeholder-container__image" src=""></span>
            
            <p class="highlight u-mb0">Multiline and warning</p>
            <p class="small u-mb0 vertical-menu__description">samples</p>

            <div class="col-xs-2 favourite" rel="/document-editor/favourite/269pkBUJoHyiha9n853Ei3lCE1ljSnpdoocSRApJcgOf1jnQ5oCoH6dvkIjTzIxk3OYfxRB0Gppwo9gtMcsf7WowMq8JHEVZF8rx/8YIWs3I5p3XNH8SF4jgw8wr3T0uy9THaLKzQA3iQ/">
              <b class="star fa-star">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/svg-defs.svg#shape-star"></use>
                </svg>
              </b>
            </div>

            <svg class="right">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/svg-defs.svg#shape-right-arrow-thin"></use>
            </svg>
          </a>
        </li>
          <li class="active"><a href="#main">Top</a></li>
          <li><a href="#headings">Headings</a></li>
          <li><a href="#general-text">General Text</a></li>
          <li><a href="#colors">Colors</a></li>
          <li><a href="#buttons">Buttons</a></li>
          <li><a href="#pagination">Pagination</a></li>
          <li><a href="#breadcrumbs">Breadcrumbs</a></li>
          <li><a href="#svgs">SVG's</a></li>
          <li><a href="#menus">Menus</a></li>
          <li><a href="#cards">Cards</a></li>
          <li><a href="#icon-grid">Icon Grid</a></li>
          <li><a href="#messages">Messages</a></li>
          <li><a href="#forms">Forms</a></li>
          <li><a href="#javascript">JS</a></li>
          <li><a href="#table-like-list">Table Like List</a></li>
          <li><a href="#full-screen-modal">Full Screen Modal</a></li>



        </ul>

        <p class="aligncenter u-mb0">
          <a class="button--white-ghost button--svg-right u-mr- u-ml- u-mt">Create Team<svg>  <use xlink:href="img/svg-defs.svg#shape-down-small" />
    </svg></a>
        </p>



       

    </div>


    <div class="vertical-menu__container vertical-menu__container--offscreen">

        <span id="" class="mob-nav--active vertical-menu__container--offscreen__close">
          <span class="slice1"></span>
          <span class="slice2"></span>
          <span class="slice3"></span>
          <p class="screenreader">Close Menu</p>
        </span>

        <div class="vertical-menu__title-block vertical-menu__title--left">
          <h2 class="vertical-menu__title">
          Choose your team</h2>


        </div>

        <ul class="vertical-menu__menu vertical-menu__list-item--has-image">
          <li class="active"><a href="#main"><span class="placeholder-container"><img class="placeholder-container__image" src="http://placehold.it/300x200" /></span>Team one</a></li>
          <li><a href="#headings">Team two</a></li>
          <li><a href="#general-text">Team three</a></li>



        </ul>

        <p class="aligncenter u-mb0">
          <a class="button--white-ghost button--svg-right u-mr- u-ml- u-mt">Create Team<svg>  <use xlink:href="img/svg-defs.svg#shape-down-small" />
    </svg></a>
        </p>





    </div>

  </div>
