
    <!--


      Pagination


    -->

    <div class="layout u-bb u-mb" id="pagination">

      <div class="layout__item">

        <h1>Pagination</h1>
        <p>The pagination is aligned to the right but centers on mobile pretty straight forward best to see it in action on a search page.</p>

      </div>

      <div class="layout__item u-mb">

        <ul class="pagination">
          <li><a class="active">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">5</a></li>
          <li><a href="">6</a></li>
        </ul>

      </div>

    </div>