@include bp(full-nav) {

   .nav {
        /* set these to override the mobile nav */
        right: auto !important;
        //margin-right:-550px;
        left: auto;
        bottom: auto;
        margin-bottom: 0 !important;
        top: 200px;
        position: absolute;
        width: 100%;
        @include vendor(transform, none !important);
        @include vendor(translate, none !important);
        padding: 0;
        background: none;
        text-align: center;
        overflow: visible;
        height: auto;
        @include font-size(14px);
        z-index: 99;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            position: relative;
            width: auto;
            margin-right: $spacing-unit/4;
            margin-left: $spacing-unit/4;
            @include vendor(transition, 0.3s);
			

            a {
                
                @include attention {
                    color: $highlight;
                   
                }
                
                padding-left: $spacing-unit/2;
                padding-right: $spacing-unit/2;
            }


        }

    }


}

@include bp(portable) {
		.nav {top: 260px;}
		
	}
