@if $trigger-horizontal-position == right {
    $nav-text-align: right;
}
@else {
    $nav-text-align: left;
}

/* Navigation Menu - Background */
.nav {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  #{$trigger-horizontal-position}: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: scroll;
  padding-top: $spacing-unit;
  @include font-size(16px, 1.7);
  text-transform: uppercase;

  /* non-critical appearance styles */
  list-style: none;
  background: white;


  /* Navigation Menu - List items */
  li {
    /* non-critical appearance styles */
    width: 100%;
    list-style: none;
    text-align: $nav-text-align;

    ul {
        margin: 0;

        li a {
            padding-left: $spacing-unit*1.5;
          }
    }

    &.active > a {
        color: $highlight;
    }

    a {
      /* non-critical appearance styles */
      display: block;
      padding: $spacing-unit/4 $spacing-unit;
      color: $base-color;
      text-decoration: none;
      transition: all 0.3s;

        &:hover {
          color: $highlight;
        }
    }
  }
}
