<!--


      Backgrounds


    -->

    <div class="layout u-bb u-mb">

      <div class="layout__item one_whole">

        <h1>Backgrounds</h1>
        <p>General background classes found in _background.scss - only really used in the styleguide and I would like to see this tweaked to be .bg-image--highlight etc rather than a descriptive color as skinning will make this less than perfect.</p>

      </div>

      <div class="layout__item one-half u-mb bg-image--dark-blue u-pl u-pr u-pt">

        <p>.bg-image--dark-blue</p>
        <p>makes p, li, h1, h2, h3, h4 white</p>

      </div><!--

      --><div class="layout__item one-half u-mb bg-image--off-white u-pl u-pr u-pt">

        <p>.bg-image--off-white</p>
        
        

      </div>

    </div>