<!--


      COLORS


    -->

    <div class="layout u-bb u-mb" id="colors">

      <div class="layout__item one-whole">

        <h1>Colors</h1>
        <p>These are set in the colors.scss file and then referenced wherever you need in the CSS</p>
        <p>Below are some handy classes found in _backgrounds.scss</p>
      </div><!--

      --><div class="layout__item one-quarter u-mb bg-image--grey u-pl u-pr u-pt">

        <p>$grey .bg-image--grey</p>

      </div><!--

      --><div class="layout__item one-quarter u-mb bg-image--dark-grey u-pl u-pr  u-pt">

        <p>$dark-grey .bg-image--dark-grey</p>

      </div><!--

      --><div class="layout__item one-quarter u-mb bg-image--dark-blue u-pl u-pr  u-pt">

        <p>$contrast .bg-image--dark-blue</p>

      </div>

      

    </div>