<!DOCTYPE html>
<html class="{{ page.title }}">

  {% include head/styleguide-head.html %}

  <body>

  {% include nav/nav.html %}
  {% include nav/trigger.html %}

  <div class="site-wrap clearfix">

      {% include head/absolute-header-with-flexslider.html %}

      <div id="main" class="clearfix">

          {% include fancybox/fancybox.html %}

      </div><!-- END #main -->


      {% include footer/footer.html %}

      <div class="overlay">

      </div>

</div><!-- END .page-wrap -->

</body>

</html>
