<!DOCTYPE html>
<html class="{{ page.title }}">

  {% include head/styleguide-head.html %}

  <body>

    {% include head/header.html %}

    <div id="main" class="clearfix">

        <section class="clearfix bg-off-white u-pt+ u-mb+">

            <div class="wrapper">

                <h2 class="aligncenter highlight">We know digital</h2>

                <div class="u-mb clearfix layout">

                    <div class="layout__item text-center u-1/3-portable border-me grey">
                        <p class="big u--mb-">11 YEARS</p>
                        <h3>custom digital work</h3>
                    </div><!--

                    --><div class="layout__item  text-center u-1/3-portable border-me grey">
                        <p class="big u--mb-">11 YEARS</p>
                        <h3>custom digital work</h3>
                    </div><!--

                    --><div class="layout__item  text-center u-1/3-portable grey">
                        <p class="big u--mb-">11 YEARS</p>
                        <h3>custom digital work</h3>
                    </div>
                </div>

                <p class="aligncenter">
                    <a class="button button--svg  u-mr0">.button .button--svg  <svg><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                    </svg></a>
                </p>

            </div>

        </section>


        <section class="wrapper u-mt">

            <h2 class="aligncenter highlight">Our respected Clients</h2>

            <hr class="mini-hr aligncenter u-mb+" />


            <div class="u-mb clearfix layout">

                <div class="layout__item u-1/2 text-center u-1/3-portable">
                    <img src="http://placehold.it/350x150" class="u-mb">
                    <p>custom digital work</p>
                </div><!--

                --><div class="layout__item  u-1/2  text-center u-1/3-portable">
                    <img src="http://placehold.it/350x150" class="u-mb">
                    <p>custom digital work</p>
                </div><!--

                --><div class="layout__item  u-1/2  text-center u-1/3-portable">
                    <img src="http://placehold.it/350x150" class="u-mb">
                    <p>custom digital work</p>
                </div><!--

                --><div class="layout__item  u-1/2  text-center u-1/3-portable">
                    <img src="http://placehold.it/350x150" class="u-mb">
                    <p>custom digital work</p>
                </div><!--

                --><div class="layout__item  u-1/2  text-center u-1/3-portable">
                    <img src="http://placehold.it/350x150" class="u-mb">
                    <p>custom digital work</p>

                </div><!--

                --><div class="layout__item  u-1/2  text-center u-1/3-portable">
                    <img src="http://placehold.it/350x150" class="u-mb">
                    <p>custom digital work</p>
                </div><!--

                --><div class="layout__item  u-1/2  text-center u-1/3-portable">
                    <img src="http://placehold.it/350x150" class="u-mb">
                    <p>custom digital work</p>
                </div>

            </div><!-- End .layout -->

        </section><!-- END .wrapper -->

        <div class="wrapper-large">
            <a href="hfjl">
            <section class="u-1/2-portable u-1/1 alignleft u-mr0 giant-link-box giant-link-box--link">


                <img src="http://placehold.it/820x650">

                <div class="giant-link-box__text">
                    <h2>Client Case Study Title</h2>
                    <hr />
                    <p class="button--white button--svg  u-mr0">.button .button--svg  <svg><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                    </svg></p>


                </div>

            </section>
            </a>

            <a href="hfjl" >
            <section class="u-1/2-portable u-1/1 alignleft u-mr0  giant-link-box giant-link-box--link">
                <img src="http://placehold.it/820x650">

                <div class="giant-link-box__text">
                    <h2>Client Case Study Title</h2>
                    <hr />
                    <p class="button--white button--svg  u-mr0">.button .button--svg  <svg><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                    </svg></p>


                </div>

            </section>
            </a>
        </div>

        <aside class="wrapper">
            <div class="cta-strip clearfix fw">
                <h2 class="highlight">Learn how we can help </h2>
                <hr class="mini-hr" />
                <a href="hfjdks" class="button--svg button u-mr0">.button .button--svg  <svg><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                </svg></a>

            </div>
        </aside>

    </div><!-- END #main -->

    {% include footer.html %}

</div><!-- END .page-wrap -->

</body>

</html>
