<!DOCTYPE html>
<html class="{{ page.title }}">

  {% include head/styleguide-head.html %}

  <body>

  {% include nav/nav.html %}
  {% include nav/trigger.html %}

  <div class="site-wrap clearfix">

      {% include head/header-with-flexslider.html %}

      <div id="main" class="clearfix u-mt">

      	<div class="wrapper">



	   	 <div class="layout">

			  <article class="layout__item u-3/4-full-nav">

			  <h2 class="aligncenter alpha u-mb">The title goes here</h2>
			  <img src="https://scontent.cdninstagram.com/hphotos-xft1/t51.2885-15/e15/11336109_1597074003887441_1225155335_n.jpg" class="aligncenter"  />

			  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			  <p><a href="f">read more&hellip;</a></p>

			  <div class="layout">


			  	 <article class="layout__item u-1/2-full-nav">
			  	 <h2 class="aligncenter alpha u-mb">The title goes here</h2>
			  <img src="https://scontent.cdninstagram.com/hphotos-xft1/t51.2885-15/e15/11336109_1597074003887441_1225155335_n.jpg" class="aligncenter"  />

			  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			  <p><a href="f">read more&hellip;</a></p>

			  	 </article><!--

			  	  --><article class="layout__item u-1/2-full-nav">
			  	 <h2 class="aligncenter alpha u-mb">The title goes here</h2>
			  <img src="https://scontent.cdninstagram.com/hphotos-xft1/t51.2885-15/e15/11336109_1597074003887441_1225155335_n.jpg" class="aligncenter"  />

			  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			  <p><a href="f">read more&hellip;</a></p>

			  	 </article>

			  </div>
			  </article><!--



			   --><aside class="layout__item u-1/4-full-nav">

			   <h3 class="block-heading">Contact Us</h3>
			   <p class="aligncenter">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>

			   <a href="fhdj"><img src="/img/FB-logo-compressor.png" /></a>

               <section class="fw u-mt">
               <h3 class="block-heading">Contact Us</h3>
           <img src="https://scontent.cdninstagram.com/hphotos-xft1/t51.2885-15/e15/11336109_1597074003887441_1225155335_n.jpg" class="aligncenter"  />

           <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
           <p><a href="f">read more&hellip;</a></p>

       </section>

              <section class="fw  u-mt">
              <h3 class="block-heading">Contact Us</h3>
          <img src="https://scontent.cdninstagram.com/hphotos-xft1/t51.2885-15/e15/11336109_1597074003887441_1225155335_n.jpg" class="aligncenter"  />

          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <p><a href="f">read more&hellip;</a></p>

             </section>
			   </aside>

	   	</div><!-- END layout -->

	   	</div><!-- END .wapper -->

	   	<div class="wrapper">

	   	<div class="flexslider">
    <ul class="slides">
        <li><img src="/img/banner.jpg" /></li>
        <li><img src="/img/banner-2.jpg" /></li>

    </ul>

    </div>
</div>


    </div><!-- END #main -->


      {% include footer/footer.html %}

      <div class="overlay">

      </div>

</div><!-- END .page-wrap -->

</body>

</html>
