<!DOCTYPE html>
<html class="{{ page.title }}">

  {% include head/styleguide-head.html %}

  <body>

    {% include head/page-header.html %}

    <div id="main" class="clearfix">

        <section class="clearfix bg-off-white u-pt+ u-mb+">

            <div class="wrapper">

                <h2 class="highlight">More Information</h2>
                <hr class="mini-hr" />

                <article class="u-mb clearfix columns">

                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur.
                    </p>

                    <p>
                        tra augue. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur.
                    </p>

                </article>

                <p class="aligncenter">
                    <a class="button button--svg  u-mr0">.button .button--svg  <svg><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                    </svg></a>
                </p>


                <hr class="mini-hr" />
                <h3 class="u-mb0-">Ready to learn more?</h3>
            <a class="button button--svg  u-mr0">.button .button--svg  <svg><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
            </svg></a>

            </div>

        </section>




        <div class="wrapper-large">
            <a href="hfjl">
            <section class="u-1/2-portable u-1/1 alignleft u-mr0 giant-link-box giant-link-box--link">


                <img src="http://placehold.it/820x650">

                <div class="giant-link-box__text">
                    <h2>Client Case Study Title</h2>
                    <hr />
                    <p class="button--white button--svg  u-mr0">.button .button--svg  <svg><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                    </svg></p>
                </div>

            </section>
            </a>


            <section class="u-1/2-portable u-1/1 alignleft u-mr0  giant-link-box">
                <img src="http://placehold.it/820x650">

                <div class="giant-link-box__text giant-link-box__text--flat">
                    <p class="small">
                        <em>We also specialise in:</em>
                    </p>
                    <h4 class="svg-right"><a href="ffdsa">Custom Development<svg class="svg--white-arrow"><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                    </svg> </a></h4>
                    <h4 class="svg-right">Web Applications<svg class="svg--white-arrow"><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                    </svg> </h4>
                    <h4 class="svg-right">App Development<svg class="svg--white-arrow"><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                    </svg> </h4>
                    <h4 class="svg-right">IT Integration<svg class="svg--white-arrow"><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                    </svg> </h4>
                    <h4 class="svg-right">Prototyping<svg class="svg--white-arrow"><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                    </svg> </h4>
                    <h4 class="svg-right">Scoping<svg class="svg--white-arrow"><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                    </svg> </h4>


                </div>

            </section>

        </div>

        <div class="wrapper-large hide-mobile">
            <a href="hfjl">
            <section class="u-1/2-portable u-1/1 alignleft u-mr0 giant-link-box giant-link-box--link">


                <img src="http://placehold.it/820x650">

                <div class="giant-link-box__text">
                    <h2>Client Case Study Title</h2>
                    <hr />
                    <p class="button--white button--svg  u-mr0">.button .button--svg  <svg><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                    </svg></p>
                </div>

            </section>
            </a>


            <section class="u-1/2-portable u-1/1 alignleft u-mr0  giant-link-box">
                <img src="http://placehold.it/820x650">

                <div class="giant-link-box__text giant-link-box__text--flat">
                    <h2>Section Title</h2>
                    <hr class="mini-hr" />
                    <p>
                        Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor.
                    </p>

                    <p class="button--white button--svg">Contact Us  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/svg-defs.svg#shape-right-arrow"></use>
</svg></p>


                </div>

            </section>

        </div>

        <aside class="wrapper">
            <div class="cta-strip clearfix fw">
                <h2 class="highlight">Learn how we can help </h2>
                <hr class="mini-hr" />
                <a href="hfjdks" class="button--svg button u-mr0">.button .button--svg  <svg><use xlink:href="img/svg-defs.svg#shape-right-arrow" />
                </svg></a>

            </div>
        </aside>

    </div><!-- END #main -->

    {% include footer.html %}

</div><!-- END .page-wrap -->

</body>

</html>
