 <!--


      Full screen modal


    -->

     <div class="layout u-bb u-mb">

      <div class="layout__item one-whole">

        <h1>Full Screen Modal</h1>
        <p>If you inspect this are you will see the class="full-sceen-modal" and the child element .full-screen-modal__content this is set to display: none and shown when you click the view tips button in the styleguide. At time of writing this it's not used yet but will be!.</p>
      </div>

    </div>

    <div class="full-screen-modal" style="display:none" id="full-screen-modal">

     <div class="full-screen-modal__content" id="tour-stop-1">

        <div class="one-half aligncenter">

         <!-- <h1>Thank you for signing up for a 30day free trial.</h1>
          <p>Welcome to the dashboard of your ABC Team. We have set you up as a team administrator so at a glance you can see the members, forms and submissions relevant to the teams you administer.</p>-->
          <p class="alpha u-mt">FormTab is simple to use.</p>
          <p>We have preloaded a <em>sample</em> form for you to fill out.</p>

          <div class="layout">

            <div class="layout__item">
              <a href="" id="commence-tour-prompt" data-id="tour-stop-one" class="button u-pl u-pr">Fill a Form</a>
            </div>

            <div class="layout__item one-half">
              <a href="" id="quit-tour" class="button--ghost u-mr u-pl u-pr">Quit tour</a>
            </div><!--

            --><div class="layout__item one-half">
              <a id="next-tour-stop" href="" class="button--ghost u-pl u-pr">Next tour stop</a>
            </div>

          </div>
          
        </div>
      
      </div>

    </div>