/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */


@if ($enable-margins == true) {

    /**
     * Margin helper classes.
     *
     * Add margins.
     */

    .u-m     { margin:           $margin !important; }
    .u-mt    { margin-top:       $margin !important; }
    .u-mr    { margin-right:     $margin !important; }
    .u-mb    { margin-bottom:    $margin !important; }
    .u-ml    { margin-left:      $margin !important; }
    .u-mh    { margin-right:     $margin !important; margin-left:      $margin !important; }
    .u-mv    { margin-top:       $margin !important; margin-bottom:    $margin !important; }

}


@if ($enable-margins--tiny == true) {

    /**
     * Add tiny margins.
     */

    .u-m--   { margin:           $margin--tiny !important; }
    .u-mt--  { margin-top:       $margin--tiny !important; }
    .u-mr--  { margin-right:     $margin--tiny !important; }
    .u-mb--  { margin-bottom:    $margin--tiny !important; }
    .u-ml--  { margin-left:      $margin--tiny !important; }
    .u-mh--  { margin-right:     $margin--tiny !important; margin-left:     $margin--tiny !important; }
    .u-mv--  { margin-top:       $margin--tiny !important; margin-bottom:   $margin--tiny !important; }

}


@if ($enable-margins--small == true) {

    /**
     * Add small margins.
     */

    .u-m-    { margin:           $margin--small !important; }
    .u-mt-   { margin-top:       $margin--small !important; }
    .u-mr-   { margin-right:     $margin--small !important; }
    .u-mb-   { margin-bottom:    $margin--small !important; }
    .u-ml-   { margin-left:      $margin--small !important; }
    .u-mh-   { margin-right:     $margin--small !important; margin-left:   $margin--small !important; }
    .u-mv-   { margin-top:       $margin--small !important; margin-bottom: $margin--small !important; }

}


@if ($enable-margins--large == true) {

    /**
     * Add large margins.
     */

    .u-m\+   { margin:           $margin--large !important; }
    .u-mt\+  { margin-top:       $margin--large !important; }
    .u-mr\+  { margin-right:     $margin--large !important; }
    .u-mb\+  { margin-bottom:    $margin--large !important; }
    .u-ml\+  { margin-left:      $margin--large !important; }
    .u-mh\+  { margin-right:     $margin--large !important; margin-left:      $margin--large !important; }
    .u-mv\+  { margin-top:       $margin--large !important; margin-bottom:    $margin--large !important; }

}


@if ($enable-margins--huge == true) {

    /**
     * Add huge margins.
     */

    .u-m\+\+     { margin:           $margin--huge !important; }
    .u-mt\+\+    { margin-top:       $margin--huge !important; }
    .u-mr\+\+    { margin-right:     $margin--huge !important; }
    .u-mb\+\+    { margin-bottom:    $margin--huge !important; }
    .u-ml\+\+    { margin-left:      $margin--huge !important; }
    .u-mh\+\+    { margin-right:     $margin--huge !important; margin-left:   $margin--huge !important; }
    .u-mv\+\+    { margin-top:       $margin--huge !important; margin-bottom: $margin--huge !important; }

}


@if ($enable-margins--none == true) {

    /**
     * Remove margins.
     */

    .u-m0    { margin:           0 !important; }
    .u-mt0   { margin-top:       0 !important; }
    .u-mr0   { margin-right:     0 !important; }
    .u-mb0   { margin-bottom:    0 !important; }
    .u-ml0   { margin-left:      0 !important; }
    .u-mh0   { margin-right:     0 !important; margin-left:      0 !important; }
    .u-mv0   { margin-top:       0 !important; margin-bottom:    0 !important; }

}


@if ($enable-margins--negative == true) {

    /**
     * Negative margins.
     */

    .u--m    { margin:           -$margin !important; }
    .u--mt   { margin-top:       -$margin !important; }
    .u--mr   { margin-right:     -$margin !important; }
    .u--mb   { margin-bottom:    -$margin !important; }
    .u--ml   { margin-left:      -$margin !important; }
    .u--mh   { margin-right:     -$margin !important; margin-left:      -$margin !important; }
    .u--mv   { margin-top:       -$margin !important; margin-bottom:    -$margin !important; }

}


@if ($enable-margins--negative-tiny == true) {

    /**
     * Tiny negative margins.
     */

    .u--m--  { margin:           -$margin--tiny !important; }
    .u--mt-- { margin-top:       -$margin--tiny !important; }
    .u--mr-- { margin-right:     -$margin--tiny !important; }
    .u--mb-- { margin-bottom:    -$margin--tiny !important; }
    .u--ml-- { margin-left:      -$margin--tiny !important; }
    .u--mh-- { margin-right:     -$margin--tiny !important; margin-left:     -$margin--tiny !important; }
    .u--mv-- { margin-top:       -$margin--tiny !important; margin-bottom:   -$margin--huge !important; }

}


@if ($enable-margins--negative-small == true) {

    /**
     * Small negative margins.
     */

    .u--m-   { margin:           -$margin--small !important; }
    .u--mt-  { margin-top:       -$margin--small !important; }
    .u--mr-  { margin-right:     -$margin--small !important; }
    .u--mb-  { margin-bottom:    -$margin--small !important; }
    .u--ml-  { margin-left:      -$margin--small !important; }
    .u--mh-  { margin-right:     -$margin--small !important; margin-left:   -$margin--small !important; }
    .u--mv-  { margin-top:       -$margin--small !important; margin-bottom: -$margin--small !important; }

}


@if ($enable-margins--negative-large == true) {

    /**
     * Large negative margins.
     */

    .u--m\+  { margin:           -$margin--large !important; }
    .u--mt\+ { margin-top:       -$margin--large !important; }
    .u--mr\+ { margin-right:     -$margin--large !important; }
    .u--mb\+ { margin-bottom:    -$margin--large !important; }
    .u--ml\+ { margin-left:      -$margin--large !important; }
    .u--mh\+ { margin-right:     -$margin--large !important; margin-left:      -$margin--large !important; }
    .u--mv\+ { margin-top:       -$margin--large !important; margin-bottom:    -$margin--large !important; }

}


@if ($enable-margins--negative-huge == true) {

    /**
     * Huge negative margins.
     */

    .u--m\+\+    { margin:           -$margin--huge !important; }
    .u--mt\+\+   { margin-top:       -$margin--huge !important; }
    .u--mr\+\+   { margin-right:     -$margin--huge !important; }
    .u--mb\+\+   { margin-bottom:    -$margin--huge !important; }
    .u--ml\+\+   { margin-left:      -$margin--huge !important; }
    .u--mh\+\+   { margin-right:     -$margin--huge !important; margin-left:   -$margin--huge !important; }
    .u--mv\+\+   { margin-top:       -$margin--huge !important; margin-bottom: -$margin--huge !important; }

}





@if ($enable-paddings == true) {

    /**
     * Padding helper classes.
     *
     * Add paddings.
     */

    .u-p     { padding:          $padding !important; }
    .u-pt    { padding-top:      $padding !important; }
    .u-pr    { padding-right:    $padding !important; }
    .u-pb    { padding-bottom:   $padding !important; }
    .u-pl    { padding-left:     $padding !important; }
    .u-ph    { padding-right:    $padding !important; padding-left:    $padding !important; }
    .u-pv    { padding-top:      $padding !important; padding-bottom:  $padding !important; }

}


@if ($enable-paddings--tiny == true) {

    /**
     * Add tiny paddings.
     */

    .u-p--   { padding:           $padding--tiny !important; }
    .u-pt--  { padding-top:       $padding--tiny !important; }
    .u-pr--  { padding-right:     $padding--tiny !important; }
    .u-pb--  { padding-bottom:    $padding--tiny !important; }
    .u-pl--  { padding-left:      $padding--tiny !important; }
    .u-ph--  { padding-right:     $padding--tiny !important; padding-left:      $padding--tiny !important; }
    .u-pv--  { padding-top:       $padding--tiny !important; padding-bottom:    $padding--tiny !important; }

}


@if ($enable-paddings--small == true) {

    /**
     * Add small paddings.
     */

    .u-p-    { padding:           $padding--small !important; }
    .u-pt-   { padding-top:       $padding--small !important; }
    .u-pr-   { padding-right:     $padding--small !important; }
    .u-pb-   { padding-bottom:    $padding--small !important; }
    .u-pl-   { padding-left:      $padding--small !important; }
    .u-ph-   { padding-right:     $padding--small !important; padding-left:    $padding--small !important; }
    .u-pv-   { padding-top:       $padding--small !important; padding-bottom:  $padding--small !important; }

}


@if ($enable-paddings--large == true) {

    /**
     * Add large paddings.
     */

    .u-p\+   { padding:           $padding--large !important; }
    .u-pt\+  { padding-top:       $padding--large !important; }
    .u-pr\+  { padding-right:     $padding--large !important; }
    .u-pb\+  { padding-bottom:    $padding--large !important; }
    .u-pl\+  { padding-left:      $padding--large !important; }
    .u-ph\+  { padding-right:     $padding--large !important; padding-left:   $padding--large !important; }
    .u-pv\+  { padding-top:       $padding--large !important; padding-bottom: $padding--large !important; }

}


@if ($enable-paddings--huge == true) {

    /**
     * Add huge paddings.
     */

    .u-p\+\+     { padding:           $padding--huge !important; }
    .u-pt\+\+    { padding-top:       $padding--huge !important; }
    .u-pr\+\+    { padding-right:     $padding--huge !important; }
    .u-pb\+\+    { padding-bottom:    $padding--huge !important; }
    .u-pl\+\+    { padding-left:      $padding--huge !important; }
    .u-ph\+\+    { padding-right:     $padding--huge !important; padding-left:    $padding--huge !important; }
    .u-pv\+\+    { padding-top:       $padding--huge !important; padding-bottom:  $padding--huge !important; }

}


@if ($enable-paddings--none == true) {

    /**
     * Remove paddings.
     */

    .u-p0    { padding:          0 !important; }
    .u-pt0   { padding-top:      0 !important; }
    .u-pr0   { padding-right:    0 !important; }
    .u-pb0   { padding-bottom:   0 !important; }
    .u-pl0   { padding-left:     0 !important; }
    .u-ph0   { padding-right:    0 !important; padding-left:     0 !important; }
    .u-pv0   { padding-top:      0 !important; padding-bottom:   0 !important; }

}
