// High-level base settings.
$base-font-size:          15px !default;
$base-line-height:        22px !default;


//
//
//		Type
//
//

$heading-size-1:  30px;
$heading-size-2:  26px;
$heading-size-3:  20px;
$heading-size-4:  15px;
$heading-size-5:  16px;
$heading-size-6:  14px;



// FONT WEIGHTS


$light: 200;
$book: 300;
$heavy: 700;
$black: 800;

$regular: $book;
$bold: $heavy;

// Font Family

$base-font: "ff-basic-gothic-web-pro", Helvetica, Arial, sans-serif;

