// High-level base settings.
$base-font-size:          15px !default;
$base-line-height:        22px !default;


//
//
//		Type
//
//

$heading-size-1:  44px;
$heading-size-2:  37px;
$heading-size-3:  24px;
$heading-size-4:  15px;
$heading-size-5:  16px;
$heading-size-6:  14px;



// FONT WEIGHTS


$light: 200;
$book: 300;
$heavy: 700;
$black: 800;

// Font Family

$base-font: 'Avenir W01', Helvetica, Arial, sans-serif;
